* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem;
}

main {
    background-color: rgb(246, 248, 249);
    padding: 2rem 1rem;
}

h3 {
    margin-bottom: 10px;
}

#page-title {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1000px;
    margin: auto;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.line-button {
    border-bottom: 1px solid rgb(202, 205, 209);
    padding: 1rem 3rem 0.5rem;
}

.button {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

.blue {
    background-color: rgb(99, 171, 235);
    color: white;
}

.grey {
    border-color: rgb(202, 205, 209) ;
    color: rgb(202, 205, 209); 
    border-color: rgb(202, 205, 209);
}

.list {
    padding: 2em 3em;
}

.list-item {
    margin-bottom: 2em;
}

.check-green {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 2px;
    font-size: x-small;
}

.check-red {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 2px;
    font-size: x-small;
}

.item {
    margin-bottom:10px;
}

.button-list {
    display: inline-block;
    padding: 5px;
    border-width: 1px;
    border-style:solid;
    border-radius:10px;
    font-size: 10px;
    color: white;
}

.description-item {
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
}